@charset "UTF-8";
/* CSS Document */
/* Fonts */
@font-face{
	font-family: Childish;
	src: url("fonts/QuickType II Mono Regular.ttf")
}
@font-face{
	font-family: ChildishBold;
	src: url("fonts/QuickType II Bold.ttf")
}
/* Animations */
@keyframes slideFromLeft {
  0% {
    transform: translateX(-34vw);
  }
  100% {
    transform: translateX(0vw);
  }
}
@keyframes slideFromRight {
  0% {
    transform: translateX(34vw);
  }
  100% {
    transform: translateX(0vw);
  }
}
@keyframes risingSun {
  0% {
    transform: translate(-50%, 40vw);
  }
  100% {
    transform: translate(-50%, 0vw);
  }
}
@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}
/* Firefox < 16 */
@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Internet Explorer
@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
} */

/* Opera < 12.1 */
@-o-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}
/*style start */
html {
	margin: 0;
	padding: 0;
	scroll-behavior: smooth;
	}
::-webkit-scrollbar {
    width: 0px;
    background: transparent; /* make scrollbar transparent */
}
body { 
	height: 100vh;
	width: 100vw;
    background: #A0D3F3;
	margin: 0; 
	padding: 0;
	font-family: Childish;
	}
.page-wrapper section:nth-child(1){
	-webkit-animation: fadein 4s; /* Safari, Chrome and Opera > 12.1 */
	-moz-animation: fadein 4s; /* Firefox < 16 */
	-ms-animation: fadein 4s; /* Internet Explorer */
	-o-animation: fadein 4s; /* Opera < 12.1 */
	animation: fadein 4s;
}
/* allows snap scrolling */
.intro{
	position: relative;
	overflow-y: scroll;
	height: 50vh;
    scroll-snap-type: y mandatory;
	scroll-snap-stop: always;
	text-decoration: none;
	font-size: 2vh;
	z-index: 5;
}
/* adds pre-title */
header h1::before{
	position: relative;
	margin-bottom: 10px;
	display: block;
	content: "LANIAKEA PRESENTS";
	font-family: Childish;
	text-align: center;
	font-size: 1.5vh;
}
/* This blank block is added before each div in order to better vertically center */
header::before{
	position: relative;
	display: block;
	content: '';
	height: 30%;
}
header{
	position: relative;
	margin: 0 auto;
	height: 50vh;
	width: 400px;
	padding: 0;
	text-align: center;
	line-height: 10px;
	scroll-snap-align: start;
}
/* hides Zen Garden text */
header h1{
	font-size: 0em;
}
/* replaces with my title */
header h2::before{
	position: relative;
	content: "CSS ZEN MTN";
	display: block;
	font-family: ChildishBold;
	font-size: 1.8em;
	bottom: 4vh;
}
header h2{
	margin-top: 5vh;
	font-size: 1.1em;
	font-family: Childish;
}
header h2::after{
	position: relative;
	top: 2.5vh;
	display: block;
	content:'\00bb';
	-webkit-transform: rotate(90deg);
	transform: rotate(90deg);
	/*color: #FBE997;*/
	color: rgba(0,0,0,0.8);
	font-size: 1.8vw;
}
/* moves description of css zen garden to fixed position*/
.summary p:nth-child(1){
	animation: 2.5s ease-in-out 0s 1 slideFromLeft;
	position: fixed;
	left: 2.4vw;
	top: 53.5vh;
	margin: 0 auto;
	padding: 0;
	height: auto;
	width: 34vw;
	text-align: left;
	line-height: 25px;
	font-size: 0.8vw;
}
.summary p:nth-child(2){
	animation: 2.5s ease-in-out 0s 1 slideFromRight;
	position: fixed;
	width: auto;
	top: 53vh;
	right: 2vw;
	font-size: 0.8em;
}
.summary a{
	color: #DB4E08;
}
.summary a:hover{
	color: #A0D3F3;
}
.preamble::before{
	position: relative;
	display: block;
	content: '';
	height: 10%;
}
.preamble{
	margin: 0 auto;
	width: 60vw;
	height: 50vh;
	position: relative;
	text-align: center;
	scroll-snap-align: end;
}
.preamble::after{
	position: relative;
	content: "tap the circle";
	font-family: ChildishBold;
}
.main{
	position: fixed;
	top: 0px;
	left: 50%;
    transform: translate(-50%, 0);
	overflow-y: scroll;
	height: 50vh;
    scroll-snap-type: y mandatory;
	scroll-snap-stop: always;
	text-decoration: none;
	font-size: 2vh;
	z-index: 90;
}
.main h3{
	font-family: ChildishBold;
	font-size: 1.3vw;
}
.explanation::before{
	position: relative;
	display: block;
	content: '';
	height: 3%;
}
.explanation{
	position: relative;
	margin: 0 auto;
	height: 50vh;
	width: 56vw;
	padding: 0;
	text-align: center;
	line-height: 2.5vh;
	scroll-snap-align: start;
}
.participation::before{
	position: relative;
	display: block;
	content: '';
	height: 2%;
}
.participation{
	position: relative;
	margin: 0 auto;
	height: 50vh;
	width: 60vw;
	padding: 0;
	text-align: center;
	line-height: 2.5vh;
	scroll-snap-align: start;
}
.benefits::before{
	position: relative;
	display: block;
	content: '';
	height: 20%;
}
.benefits{
	position: relative;
	margin: 0 auto;
	height: 50vh;
	width: 45vw;
	padding: 0;
	text-align: center;
	line-height: 2.5vh;
	scroll-snap-align: start;
}
.requirements::before{
	position: relative;
	display: block;
	content: '';
	height: 15%;
}
.requirements{
	position: relative;
	margin: 0 auto;
	height: 40vh;
	width: 60vw;
	padding: 0;
	text-align: center;
	line-height: 2.5vh;
	scroll-snap-align: start;
	overflow: scroll;
}
/*footer::before{
	position: relative;
	display: block;
	content: '';
	height: 30%;
}*/
footer{
	position: relative;
	margin: 0 auto;
	height: 50vh;
	width: 400px;
	padding: 0;
	text-align: center;
	line-height: 10px;
	scroll-snap-align: start;
}
footer::before{
	position: relative;
	height: 30%;
	top: 10vh;
	display: block;
	content: '';
	font-size: 0.8vw;
}
footer::after{
	display: block;
	position: relative;
	top: 6vh;
	content: 'by @TaiDisla';
	font-family: Childish;
	font-size: 1.6vw;
}
aside{
	position: fixed;
	margin: 0;
	padding: 0;
	bottom: 0px;
	left: 0px;
	height: 50vh;
	width: 100vw;
	background-color: #FBE997
}
.sidebar{
	-webkit-animation: fadein 3s; /* Safari, Chrome and Opera > 12.1 */
	-moz-animation: fadein 3s; /* Firefox < 16 */
	-ms-animation: fadein 3s; /* Internet Explorer */
	-o-animation: fadein 3s; /* Opera < 12.1 */
	animation: fadein 3s;
}
.select{
	position: relative;
	left: -1000px;
}
.design-selection{
	animation: 2.5s ease-in-out 0s 1 slideFromLeft;
	position: fixed;
	left: 0vw;
	width: 38vw;
	height: 50vh;
	margin: 0;
	padding: 0;
	top: 57vh;
	text-align: left;
}
.design-selection:nth-child(n+5){
	text-align: right;
}
.design-selection ul{
	list-style: none;
	columns: 2;
	line-height: 30px;
}
.design-selection ul a{
	color: black;
	text-decoration: none;
}
.design-selection ul a:nth-child(odd){
	font-size: 1.2vw;
}
.design-selection ul a:nth-child(even){
	position: relative;
	display: block;
	font-size: 0.8vw;
	top: -8px;
}
.design-selection li:nth-child(n+5){
	position: relative;
	text-align: right;
}
.design-selection ul a:hover{
	color: #DB4E08;
}
.archives{
	font-size: 1.2vw;
}
.design-archives{
	animation: 2.5s ease-in-out 0s 1 slideFromRight;
	position: fixed;
	right: 2vw;
	bottom: 2vh;
	width: 15vw;
	text-align: right;
	line-height: 0px;
	font-size: 1vw;
}
.design-archives ul{
	list-style: none;
	line-height: 25px;
}
.design-archives ul a{
	color: black;
	text-decoration: none;
}
.design-archives ul a:hover{
	color: #DB4E08;
}
.resources{
	font-family: Childish;
	font-size: 1.2vw;
}
.zen-resources{
	animation: 2.5s ease-in-out 0s 1 slideFromRight;
	position: fixed;
	width: 15vw;
	right: 2vw;
	bottom: 18vh;
	text-align: right;
	line-height: 0px;
}
.zen-resources ul{
	list-style: none;
	line-height: 25px;
	font-size: 1vw;
}
.zen-resources ul a{
	color: black;
	text-decoration: none;
}
.zen-resources ul a:hover{
	color: #DB4E08;
}
/* circle */
.extra1{
	animation: 4s ease-in-out 0s 1 risingSun;
	position: fixed;
	bottom: 40vh;
	/* left + transform allow for fixed element to be centered */
	left: 50vw;
    transform: translate(-50%, 0);
	content: '';
	margin: auto auto;
	width: 20vh;
	height: 20vh;
	border-radius: 100% 100%;
	background-image: linear-gradient(#DB4E08 50%, rgba(219, 78, 8, 80%) 50%);
	z-index: 100;
}
